h1{
  text-align: center;
  margin: 30px;
}
img.icon{
  width: 35%;
  position: relative;
  margin-left: 30px;
}
h3 {
  text-align: center;
}
p {
  text-align: center;
}
.box-icon {
  width: 12%;
  background-color: rgb(72, 159, 208);
}
